* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    transition: .10s ease;
}
.logo:hover {
    color: #ff4500;
    text-shadow: 0 0 25px #ff4500,
    0 0 25px #ff4500;
    transform: scale(1.1);
}
span {
    color: #ff4500;
}

.navbar a {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: #ff4500;
}

.contact {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid transparent;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s ease;
}

.contact:hover {
    background-color: #ff4500;
    box-shadow: 0 0 25px #ffa500;
    color: #ffffff;
}